.button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 7rem;
  transition: all .2s;
  position: absolute;
  transform: translate(26%, 2rem);
  font-size: $default-font-size;

  &:hover {
    transform: translate(26%, 1.9rem);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translate(26%, 2.1rem);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--blue {
    background-image: linear-gradient(to right, $color-primary-medium, $color-primary-dark);
    color: $color-white;

    &::after {
      background-image: linear-gradient(to right, $color-primary-medium, $color-primary-dark);
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  font-size: $default-font-size;
  text-decoration: none;
  color: $color-primary-medium;
  border-bottom: 1px solid $color-primary-medium;
  padding: 3px;
  display: inline-block;
  transition: all .2s;

  &:hover {
    color: $color-white;
    background-color: $color-primary-medium;
    transform: translateY(-2px);
    box-shadow: 0rem 1rem 2rem rgba($color-black, .15);
  }

  &:active {
    box-shadow: 0rem .5rem 1rem rgba($color-black, .15);
    transform: translateY(0);
  }
}
