// COLORS
$color-primary-light: #42f4e8;
$color-primary-medium: #42b3f4;
$color-primary-dark: #4250f4;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;