.create-recipe {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right bottom, 
    rgba($color-primary-light, 0.8), 
    rgba($color-primary-medium, 0.8)),
    url('./img/food2.jpg');


  &__inner {
    max-width: 50%;
    height: 95vh;
    background-image: linear-gradient(to left top, rgba($color-primary-light, 1), rgba($color-primary-medium, 1));
    transform: translate(50%, 0);
    padding: 2rem;
  }
}
